<template name="header">
    <div class="ui menu inverted fluid grid center headerTop">
        <div id="sideMenuActivate" class="three wide column sideMenuActivate">
            <i class="inverted large sidebar icon sideMenuActivate"></i>
        </div>
        <div class="two wide column"></div>
        <div class="six wide column center">
            <img class="logo" src="/ttLogo.png">
        </div>
        <div class="two wide column"></div>
        <div class="three wide column center">

        </div>
    </div>
</template>