<template name="layout">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <div id="mainSidebar" class="ui sidebar inverted vertical menu">
        <div class="item">
            <div class="center fullWidth headerTop">
                <img class="banner" src="/ttMenu.png">
            </div>
        </div>
        <a class="item driversign sideMenuDeactivate">
            <i class="inverted user icon"></i>
            Item 1
        </a>
        <a class="item drivermap sideMenuDeactivate">
            <i class="inverted map outline icon"></i>
            Item 2
        </a>
        <a class="item usermap sideMenuDeactivate">
            <i class="inverted map outline icon"></i>
            Item 3
        </a>
        <a class="item acknowledgements sideMenuDeactivate">
            <i class="inverted star icon"></i>
            Acknowledgments
        </a>
    </div>
    <div class="pusher">
        <div id="main" class="">
            {{> yield}}
        </div>
    </div>
</template>